force-app/main/default/flows/Subflow_Cycle_Notifications.flow-meta.xml-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_1</name>
        <label>Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>nullNotFound</actionName>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Cycle_Alerts</name>
        <label>Cycle_Alerts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Action_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Cycle_Alerts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <stringValue>{!Recipient}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>fr_remainingDays</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>tt_Cycle_Close_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Cycle_by_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Nearing_End_Decision</name>
        <label>Is_Nearing_End_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Action_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No action</defaultConnectorLabel>
        <rules>
            <name>Is_Nearing_End</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fr_remainingDays</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fr_remainingDays</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cycle_Alerts</targetReference>
            </connector>
            <label>Is_Nearing_End</label>
        </rules>
    </decisions>
    <description>Reusable subflow: sends notifications and updates when cycle needs attention.</description>
    <environments>Default</environments>
    <formulas>
        <name>fr_remainingDays</name>
        <dataType>Number</dataType>
        <expression>{!Get_Cycle_by_Id.End_Date__c} - TODAY()</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Subflow — Cycle Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutolaunchedSubflow — Cycle Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cycle_by_Id</name>
        <label>Get Cycle by Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Nearing_End_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>in_CycleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle_by_Id</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <textTemplates>
        <name>tt_Cycle_Close_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Cycle {!Get_Cycle_by_Id.Name} ends in {!fr_remainingDays} days.&lt;/p&gt;&lt;p&gt;Open record: /{!Get_Cycle_by_Id.Id}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Cycle record Id passed in by caller (e.g. $Record.Id)</description>
        <name>in_CycleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of Cycle__c records for bulk processing</description>
        <name>in_CycleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Record__c</objectType>
    </variables>
    <variables>
        <name>lastmodifiedby</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Human-readable result / error message</description>
        <name>out_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>true/false for caller to know if subflow succeeded</description>
        <name>out_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Recipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
