mdapipkg/flows/Cycle_Auto_Predictions_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Predictions</name>
        <label>Assign_Predictions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Predicted_Next_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PredictedNextPeriod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Predicted_Ovulation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PredictedOvulation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fertile_Window_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FertileWindowStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fertile_Window_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FertileWindowEnd</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Default_Cycle_Length</name>
        <label>Set_Default_Cycle_Length</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>28.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Predictions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Missing</name>
        <label>Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Predictions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has value</defaultConnectorLabel>
        <rules>
            <name>Missing_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Length__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Cycle_Length</targetReference>
            </connector>
            <label>Missing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CycleLengthForCalc</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE($Record.Length__c, 28)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FertileWindowEnd</name>
        <dataType>Date</dataType>
        <expression>$Record.Predicted_Ovulation__c + 1</expression>
    </formulas>
    <formulas>
        <name>FertileWindowEndCalc</name>
        <dataType>Date</dataType>
        <expression>{!PredictedOvulationCalc} + 1</expression>
    </formulas>
    <formulas>
        <name>FertileWindowStart</name>
        <dataType>Date</dataType>
        <expression>$Record.Predicted_Ovulation__c - 5</expression>
    </formulas>
    <formulas>
        <name>FertileWindowStartCalc</name>
        <dataType>Date</dataType>
        <expression>{!PredictedOvulationCalc} - 5</expression>
    </formulas>
    <formulas>
        <name>PredictedNextPeriod</name>
        <dataType>Date</dataType>
        <expression>$Record.Start_Date__c + $Record.Length__c</expression>
    </formulas>
    <formulas>
        <name>PredictedNextPeriodCalc</name>
        <dataType>Date</dataType>
        <expression>$Record.Start_Date__c + CycleLengthForCalc</expression>
    </formulas>
    <formulas>
        <name>PredictedOvulation</name>
        <dataType>Date</dataType>
        <expression>$Record.Predicted_Next_Period__c - 14</expression>
    </formulas>
    <formulas>
        <name>PredictedOvulationCalc</name>
        <dataType>Date</dataType>
        <expression>{!PredictedNextPeriodCalc} - 14</expression>
    </formulas>
    <interviewLabel>Cycle_Auto_Predictions_Before_Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cycle_Auto_Predictions_Before_Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Missing</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Cycle_Record__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
